  @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

       *{
              margin: 0;
              padding: 0;
              box-sizing: border-box;
              font-family: 'Poppins', sans-serif;
       }

       *, *::before, *::after {
              box-sizing: border-box;
          }

       body {
              background-color: #4c96d7;
              text-align: center;
       }

       body, h1, h2, h3, h4, p, ul, ol, li, figure, figcaption, blockquote, dl, dd, fieldset, legend {
              margin: 0;
              border: 0;
       }

       h1{
              margin-left: 20px;
       }

       nav {
              display: flex;
              padding: 2% 6%;
              align-items: center;
              text-align: center;
              justify-content: space-between;
       }

       nav .logo {
       
              margin-bottom: 20px;
              text-decoration: none;
              font-size: 20px;
              color: #fff3f3;
              font-weight: bold;
       }

       nav .fa-solid { 
              padding: 10px;
              font-size: 30px;
              color: #58A3DB;
       }
       
       .nav-links{
              flex: 1;
              text-align: right;
       }

       .nav-links ul li{
              display: inline-block;
              list-style: none;
              padding: 12px 12px;
              position: relative;
              text-transform: uppercase;
       }

       .nav-links ul li a{
              text-decoration: none;
              color: #ffff;
              font-size: 18px;
       }

       .nav-links ul li::after{
              content: '';
              width: 0%;
              height: 2px;
              background: #4C96D7;
              display: block;
              margin: auto;
              transition: 0.25s;
       }

      .nav-links ul li:hover::after{
           width: 100%;
      }

       nav .fa {
          display: none;
       }

       /* Responsive Navbar Section Start */
        
       @media(max-width: 900px) {
              .text_box h2 {
                  font-size: 50px;
              }
              .text_box #headtext {
                  font-size: 23px;
              }
              .text_box p {
                  margin: 10px 40px;
                  font-size: 20px;
              }
              .nav-links ul li {
                  margin: 10px;
                  display: block;
              }
              .nav-links {
                  position: fixed;
                  background: #47b19efa;
                  height: 100vh;
                  width: 200px;
                  top: 0;
                  right: -200px;
                  text-align: left;
                  z-index: 2;
                  transition: 1.2s;
              }
              nav .fa {
                  display: block;
                  color: #ffff;
                  margin: 10px;
                  font-size: 22px;
                  cursor: pointer;
              }
              .nav-links ul {
                  padding: 30px;
              }
          }
  
          @media(max-width : 450px) {
              nav .fa-solid{
                  padding: 10px;
                  font-size: 30px;
                  color: #58A3DB;
             }
          }

       /* Responsive Navbar End */


       /*About Section Start*/
          .sub-header {
              height: 50vh;
              width: 100%;
              background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), 
              url(images/car-ban.png);
              background-position: center;
              background-size: cover;
              text-align: center;
              color: #fff;
       }
          
          .sub-header h1 {
              margin-top: 80px;
       }

       /*About Section End*/

       /*Header Fleetpark Section Start*/

       .page-header {
              padding-top: 3.75rem;
       }

       .site-content-wrap_small {
              max-width: 51.125rem;
       }

       .heading-1 {
              font-size: 2.125rem;
              line-height: 2.5rem;
              font-weight: 700;
              text-align: center;
              letter-spacing: -0.02em;
       }

       .page-header .intro-text {
              margin-top: 1.875rem;
       }

       .intro-text {
              font-size: 1.125rem;
              line-height: 1.5rem;
              font-weight: 700;
              text-align: center;
              color: #000;
              letter-spacing: -0.01em;
       }

       .markdown {
              line-height: 1.5rem;
       }

       @media only screen and (max-width : 978px) {
          .page-header {
              padding-top: 4.375rem;
          }  
       }


       /*Header Fleetpark Section End*/

       /*Products Section Start*/

       img {
              max-width: 100%;
              height: auto;
              display: block;
       }

       .main-categories {
              display: flex;
              justify-content: center;
       }

       .main-categories_link.active {
              background-color: #f6f5f4;
       }

       .main-categories_link:hover {
              background-color: #f6f5f4;
              transition: ease-in-out .3s;
       }

       .main-categories_link.main-categories_link, 
       .main-categories_link label, .main-categories_toggle.main-categories_link, 
       .main-categories_toggle label {
              font-weight: 400;
              font-size: 0.875rem;
              color: #000;
              cursor: pointer;
              transition: all .5s;
              transition-property: background-color;
       }

       .main-categories_link {
              min-height: 3.125rem;
              flex: 0 0 33.333333%;
              margin-right: 0.5rem;
              text-align: center;
              background-color: #e1ded9;
       }

       .main-categories_link-image {
              height: 2.25rem;
              padding-top: 0.25rem;
              display: flex;
              align-items: center;
              justify-content: center;
       }

       .main-categories_link-label {
              color: inherit;
              font-size: 0.75rem;
              line-height: 1.5rem;
       }

       @media only screen and (min-width: 768px) {
              .main-categories_link {
                     display: flex;
                     align-items: center;
                     flex: 0 0 12.5rem;
                     margin-right: 0.125rem;
                     padding: 0 0.625rem;
              }

              .main-categories_link-image {
                     flex: 1 1 auto;
              }

              .main-categories_link-label {
                     font-size: 0.875rem;
                     margin-left: 0.625rem;
                     flex: 1 1 auto;
              }
       }

       /*Products Section End*/

       /*Result Products List Section one-third column Start*/

       .site-content-wrap {
              max-width: 76.25rem;
              padding: 0 20px;
              margin: 0 auto;
       }

       .fleet-page_results {
              padding: 50px 0 10px;
       }

       .car-finder-results {
              position: relative;
       }

       .grid {
              padding-right: 33%;
              display: flex;
              flex-wrap: wrap;
              margin: 0 -15px;
       }

       .grid-item {
              width: 100%;
              padding-left: 15px;
              padding-right: 15px;
              position: relative;
       }

       .vehicle-filters {
              padding-top: 1.25rem;
       }

       .vehicle-filters_modal-btn {
              border: 1px solid #b2b0ae;
       }

       .vehicle-filters_modal-btn, 
       .vehicle-filters_modal-header {
              color: #000;
              font-size: 0.75rem;
              font-weight: 700;
              line-height: 2.5rem;
              position: relative;
              width: 100%;
              border-radius: 25px;
              text-transform: uppercase;
       }

       button {
              background: transparent;
              border: none;
              padding: 0;
              margin: 0;
              color: #000;
       }

       .vehicle-filters_modal-btn .icon-filter, 
       .vehicle-filters_modal-header .icon-filter {
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              width: 1.5rem;
              height: 1.5rem;
              left: 10px;
       }

       .vehicle-filters_active-filters-heading {
              display: flex;
              align-items: center;
       }

       .vehicle-filters_active-filter-count {
              display: inline-block;
              width: 1.875rem;
              height: 1.875rem;
              font-size: 0.875rem;
              font-weight: 600;
              line-height: 30px;
              text-align: center;
              color: #fff;
              background-color: #008334;
              margin-left: 0.9375rem;
              border-radius: 1.875rem;
       }

       .vehicle-filters_modal-header {
              display: none;
              border-bottom: 1px solid #000;
              text-align: center;
       }

       .vehicle-filters_close-btn {
              display: none;
              position: absolute;
              top: 0;
              right: 0;
              width: 3.125rem;
              height: 100%;
       }

       .vehicle-filters_modal-btn .icon-close, 
       .vehicle-filters_modal-header .icon-close {
              vertical-align: middle;
              height: 0.75rem;
              width: 0.75rem;
       }

       .vehicle-filters_active-filters-heading .vehicle-filters_reset-btn {
              padding-top: 1.25rem;
       }

       .vehicle-filters_reset-btn {
              border-bottom: #d4002a solid 1px;
              transition: color ease-in-out .3s;
              color: #000;
              font-size: 0.875rem;
              line-height: 1.5rem;
              height: auto;
       }

       .vehicle-filters_reset-btn:hover {
              cursor: pointer;
              color: #d4002a;
          }

       .vehicle-filters_groups {
              padding-bottom: 3.125rem;
       }

       .vehicle-filters_group {
              border-bottom: 1px solid #e1ded9;
              padding-top: 1.5625rem;
              padding-bottom: 0.625rem;
       }

       .vehicle-filters legend {
              font-weight: 700;
              font-size: 0.875rem;
       }

       .vehicle-filters_checkboxes {
              margin-top: 0.625rem;
       }

       .checkbox-base {
              position: relative;
       }

       .checkbox-base input[type=checkbox] {
              position: absolute;
              left: -9999em;
       }

       .checkbox-filter label {
              line-height: 1rem;
              min-height: 2.25rem;
              padding: 0.625rem 0 0.625rem 1.3125rem;
       }

       .checkbox-base label {
              cursor: pointer;
              display: flex;
              align-items: center;
              font-size: 0.875rem;
       }

       .checkbox-filter label::before {
              width: 0.75rem;
              height: 0.75rem;
              left: 0rem;
       }
          
          .checkbox-base label::before {
              content: "";
              position: absolute;
              top: 50%;
              left: 0;
              margin: 0;
              transform: translateY(-50%);
              border: #65615d solid 1px;
              border-radius: 1px;
       }

       .checkbox-filter label>svg {
              color: #fff;
              width: 1rem;
              height: 1rem;
              left: -0.125rem;
              margin: -0.7px;
       }

       .checkbox-base label>svg {
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              left: 0;
              display: none;
       }

       .checkbox-base :checked+label>svg {
              display: block;
          }


       @media only screen and (min-width: 978px) {
              .two-columns .one-third-columm {
                     width: 33.333333%;
              }

              .two-columns .grid-item {
                     width: 50%;
              }

              .car-finder-results .vehicle-filters {
                     max-width: 19.375rem;
              }

              .vehicle-filters {
                     padding-top: 0.625rem;
              }

              .vehicle-filters_modal-btn {
                     display: none;
              }

              .vehicle-filters_active-filters-heading {
                     justify-content: space-between;
                     padding-top: 22px;
                     padding-bottom: 1.5625rem;
                     border-bottom: 1px solid rgba(0, 3, 51, .2);
              }

              .vehicle-filters_active-filters-heading h2 {
                     display: block;
                     position: relative;
                     font-size: 0.875rem;
                     line-height: 1.5rem;
              }

              .vehicle-filters_active-filters-heading .vehicle-filters_reset-btn {
                     padding-top: 0;
                 }
       }

       @media only screen and (min-width : 768px) {
              .two-columns .one-third-columm {
                     width: 100%;
              }

              .two-columns .grid-item {
                     width: 50%;
              }
       
       }


       /*Result Products List one-third column Section End*/



       /*Result Products List two-third column Section Start*/

      
       .tmpl-bg-grey {
              background: #f6f5f4;
       }

       .fleet-page_results {
              padding: 50px 0 10px;
       }

       .site-content-wrap {
              max-width: 76.25rem;
              padding: 0 20px;
              margin: 0 auto;
       }

       .car-finder-results_results>:first-child {
              margin-top: 25px;
       }

       .car-finder-results_summary {
              padding-bottom: 10px;
       }

       .car-finder-results_title {
              font-size: 0.875rem;
              line-height: 1.5rem;
              margin-bottom: 5px;
       }

       .car-finder-results_subtitle {
              font-size: 0.875rem;
              line-height: 1.25rem;
              color: #65615d;
       }

       ul[class] {
              list-style: none;
       }

       .vehicle-result-list_list {
              padding-bottom: 2.5rem;
              margin-top: -15px;
       }

       .vehicle-result-list .vehicle-result-list_item {
              list-style: none;
              margin-top: 30px;
       }

       .card {
              background-color: #fff;
              box-shadow: 0 1px 5px rgba(0,0,0,.25);
              transition: box-shadow ease-in-out .3s;
              border-radius: 2px;
       }

       .vehicle_card {
              padding: 0.9375rem 0.9375rem 0;
              font-size: 0.8125rem;
              position: relative;
       }

       .vehicle_card>.grid {
              padding-bottom: 15px;
       }

       .vehicle-header {
              position: relative;
              color: #d4002a;
              margin-bottom: 15px;
              width: 100%;
       }

       .vehicle-header_title {
              font-size: 0.875rem;
              font-weight: 600;
              text-transform: uppercase;
              letter-spacing: .04em;
              line-height: 1.5rem;
              margin-bottom: 0.25rem;
       }

       .vehicle-header_title span {
              font-weight: 400;
       }

       .vehicle-header_subtitle {
              font-size: 0.875rem;
              color: #65615d;
       }

       .vehicle-image {
              position: relative;
              height: 0;
              padding-bottom: 50%;
       }

       .lazy-img.loaded {
              opacity: 1;
       }

       .vehicle-image img {
              position: absolute;
              width: 100%;
       }

       .lazy-img {
              transition: opacity .4s;
              opacity: 0;
       }

       img {
              max-width: 100%;
              height: auto;
              display: block;
       }

       .vehicle_image-actions {
              padding-top: 0.625rem;
       }
          
       .text-center {
              text-align: center;
       }

       .vehicle_card-features {
              margin-top: 1.875rem;
       }

       .vehicle_feature {
              line-height: 1rem;
              margin-bottom: 0.5rem;
       }

       .vehicle_extra {
              color: #65615d;
       }

       .vehicle_features .icon-list {
              --icon-list-line-height: 1.5rem;
              --icon-list-icon-size: 1.5rem;
              columns: 2;
              margin: 15px 0;
       }

       .vehicle_features .icon-list_item {
              padding-bottom: 5px;
              color: #000;
       }

       .icon-list_item {
              display: inline-flex;
              align-items: flex-start;
              width: 100%;
              line-height: 1.5rem;
       }


       @media only screen and (max-width : 978px) {
              .two-columns .two-thirds-column {
                     width: 66.666666%;
              }

              .two-columns .grid-item, .two-columns.from-desktop .grid-item {
                     width: 50%;
              }

              .car-finder-results_results>:first-child {
                     margin-top: 35px;
              }
       }

       @media only screen and (max-width : 768px) {
              .two-columns .one-third-column, .two-columns .two-thirds-column, .two-columns.from-desktop .grid-item {
                     width: 100%;
              }

              .two-columns .grid-item, .three-columns .grid-item, .four-columns .grid-item {
                     width: 50%;
              }

              .two-thirds-column {
                     width: 66.667%;
              }
       }








       /*Result Products List two-third column Section End*/