       @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

       * {
              margin: 0;
              padding: 0;
              box-sizing: border-box;
              font-family: 'Poppins', sans-serif;
       }

       *, *::before, *::after {
            box-sizing: border-box;
       }

        body, h1, h2, h3, h4, p, ul, ol, li, figure, figcaption, blockquote, dl, dd, fieldset, legend {
            margin: 0;
            border: 0;
        }

        body {
            color: #000;
            line-height: 1.5;
        }

        ul, ol, fieldset, legend {
            padding: 0;
        }


        nav {
              display: flex;
              padding: 2% 6%;
              align-items: center;
              text-align: center;
              justify-content: space-between;
         }

         nav .logo{
    
              margin-bottom: 20px;
              text-decoration: none;
              font-size: 20px;
              color: #fff3f3;
              font-weight: bold;
         }

         nav .fa-solid{
              margin-bottom: 10px;
              font-size: 40px;
              color: #58A3DB;
         }

         .nav-links{
              flex: 1;
              text-align: right;
         }

         .nav-links ul li{
              display: inline-block;
              list-style: none;
              padding: 12px 12px;
              position: relative;
              text-transform: uppercase;
         }
      
         .nav-links ul li a{
              text-decoration: none;
              color: #ffff;
              font-size: 18px;
         }
      
         .nav-links ul li::after{
              content: '';
              width: 0%;
              height: 2px;
              background: #4C96D7;
              display: block;
              margin: auto;
              transition: 0.25s;
             }
      
             .nav-links ul li:hover::after{
                  width: 100%;
             }

             .sub-header {
              height: 50vh;
              width: 100%;
              background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), 
              url(images/car-ban.png);
              background-position: center;
              background-size: cover;
              text-align: center;
              color: #fff;
          }

          

          .content {
              position: fixed;
              bottom: 0;
              background: rgba(0, 0, 0, 0.5);
              color: #f1f1f1;
              width: 100%;
              padding: 20px;
          }
  
          nav .fa {
              display: none;
          }

          /* Responsive Navbar Section Start */
        
        @media(max-width: 900px) {
              .text_box h2 {
                  font-size: 50px;
              }
              .text_box #headtext {
                  font-size: 23px;
              }
              .text_box p {
                  margin: 10px 40px;
                  font-size: 20px;
              }
              .nav-links ul li {
                  margin: 10px;
                  display: block;
              }
              .nav-links {
                  position: fixed;
                  background: #47b19efa;
                  height: 100vh;
                  width: 200px;
                  top: 0;
                  right: -200px;
                  text-align: left;
                  z-index: 2;
                  transition: 1.2s;
              }
              nav .fa {
                  display: block;
                  color: #ffff;
                  margin: 10px;
                  font-size: 22px;
                  cursor: pointer;
              }
              .nav-links ul {
                  padding: 30px;
              }
          }
          /* Responsive Navbar End */

          /* Products Page Start */

          .PageBlock {
            position: relative;
            margin: 0px !important;
            padding: 50px;
        }
        
        .verticalLine {
            widtH: 5px;
            height: 100px;
            background: #24f8c7;
            margin: 0 auto 50px;
        }
        
        .Clear {
            clear: both;
        }
        
          .products {
            width: 80%;
            margin: auto;
            text-align: center;
            padding-top: 100px;
        }

           /*Booking Form Part Start*/

        #booking {
            font-family: 'Poppins', sans-serif;
            font-weight: 300;
        }

        .section {
            position: relative;
            height: 65vh;
        }

        .section .section-center {
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            transform: translateY(-50%);
        }

        .container {
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto;
        }

        .container:before {
            display: table;
            content: " ";
        }

        .row {
            margin-right: -15px;
            margin-left: -15px;
        }

        .row:before {
            display: table;
            content: " ";
        }

        .booking-form {
            margin-bottom: 15%;
            background-color: #f8f9f5;
            padding: 10px 15px 0;
            border-radius: 4px;
            overflow: auto;
        }

        .col-md-8 {
            position: relative;
            min-height: 1px;
            padding-right: 15px;
            padding-left: 15px;
        }

        .booking-form .form-group {
            position: relative;
            margin-bottom: 30px;
        }

        .booking-form .form-control {
            border: none;
            height: 65px;
            box-shadow: none;
            font-size: 24px;
            color: #090a0b;
            font-weight: 300;
            background: #f2f1f1;
            border-radius: 4px;
        }

        .form-control {
            display: block;
            width: 100%;
            padding: 6px 12px;
            line-height: 1.5;
            transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        }

        .booking-form .form-label {
            color: #d4002a;
            display: block;
            font-weight: 600;
            height: 25px;
            line-height: 25px;
            font-size: 16px;
            position: relative;
            margin-top: 10px;
            text-transform: uppercase;
        }

        .booking-form .form-label:after {
            content: '';
            position: absolute;
            left: 10px;
            top: -10px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 10px 10px 0;
            border-color: #f2f1f1 transparent transparent transparent;
        }

        .col-md-2 {
            position: relative;
            min-height: 1px;
            padding-right: 15px;
            padding-left: 15px;
        }

        .booking-form select.form-control+.select-arrow {
            position: absolute;
            right: 0;
            top: 0;
            width: 24px;
            text-align: center;
            pointer-events: none;
            height: 65px;
            line-height: 65px;
            color: #b1b6bd;
            font-size: 14px;
        }

        .booking-form select.form-control+.select-arrow:after {
            content: '\279C';
            display: block;
            -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
        }

        .col-md-4 {
            position: relative;
            min-height: 1px;
            padding-right: 15px;
            padding-left: 15px;
        }

        

        .booking-form input[type=date].form-control:invalid {
            color: #b1b6bd;
        }

        .booking-form .form-btn {
            margin-bottom: 30px;
        }

        .booking-form .submit-btn {
            background: #d4002a;
            border: none;
            font-weight: 600;
            text-transform: uppercase;
            height: 90px;
            font-size: 18px;
            width: 100%;
            color: #fff;
            border-radius: 4px;
            display: block;
        }

        
       @media (min-width : 1200px) {
            .container {
                width: 1170px;
            }
        }

        @media (min-width : 992px) {
            .col-md-8 {
                width: 66.66666667%;
                float: left;
            }

            .col-md-2 {
                width: 16.66666667%;
                float: left;
            }

            .col-md-4 {
                width: 33.33333333%;
                float: left;
            }
        }

        @media only screen and (max-width : 1600px) {
            .booking-form {
                background-color: #f8f9f5;
                padding: 10px 15px 0;
                border-radius: 5px;
                overflow: auto;
            }
        }

        /* Booking Form Part End */

        
        @media only screen and (min-width: 978px) {
            .page-header {
                padding-top: 4.375rem;
            }

            .content-blocks {
                margin-bottom: 4.375rem;
            }

            .three-colums .grid-item {
                width: 33.333333%;
            }

            .two-columns .grid-item, .two-columns.from-desktop .grid-item {
                width: 50%;
            }

            .visual-and-text-block_content {
                padding-right: 10%;
            }
        }

        .page-header {
            padding-top: 3.75rem;
            padding-bottom: 2.75rem;
        }

    

    .site-content-wrap_small {
        max-width: 51.125rem;
    }
    .site-content-wrap {
        max-width: 76.25rem;
        padding: 0 20px;
        margin: 0 auto;
    }

    .heading-1 {
        font-size: 2.125rem;
        line-height: 2.5rem;
        font-weight: 700;
        text-align: center;
        word-break: break-word;
        letter-spacing: -0.02em;
    }

    .page-header .intro-text {
        margin-top: 1.875rem;
    }

    .intro-text {
        font-size: 1.125rem;
        line-height: 1.5rem;
        font-weight: 700;
        text-align: center;
        color: #000;
        letter-spacing: -0.01em;
    }

    .markdown {
        line-height: 1.5rem;
    }

    *, *::before, *::after {
        box-sizing: border-box;
   }

    body, h1, h2, h3, h4, p, ul, ol, li, figure, figcaption, blockquote, dl, dd, fieldset, legend {
        margin: 0;
        border: 0;
    }

    body {
        color: #000;
        line-height: 1.5;
    }

    ul, ol, fieldset, legend {
        padding: 0;
    }

    /*Booking Form Toggle Buttons Part Start*/   

    .car-finder-hero .car-finder_loaded {
        opacity: 1;
        animation: fadeInUp .7s ease-out;
    }

    

    .car-finder .main-categories_toggle {
        margin-bottom: -1px;
    }

    .main-categories_toggle {
        background-color: #e1ded9;
        display: flex;
    }

    .visually-hidden {
        position: absolute !important;
        height: 1px;
        width: 1px;
        overflow: hidden;
    }

    .main-categories_toggle input:checked+label {
        background: #fff;
        color: #000;
        position: relative;
        z-index: 1;
    }

    .main-categories_toggle label {
        height: 3.75rem;
        display: block;
        text-align: center;
        overflow: hidden;
        padding-top: 0.6875rem;
        background-color: #f0eeec;
    }

    .lazy-img.loaded {
        opacity: 1;
    }

    .main-categories_toggle img {
        display: inline-block;
        width: auto;
        height: 1.25rem;
    }

    .main-categories_toggle span {
        display: block;
        margin-top: -0.125rem;
    }

    .car-finder_content {
        padding: 30px 10px 10px 10px;
        position: relative;
    }

    .car-finder_heading {
        font-weight: 400;
        color: #d4002a;
        font-size: 1.75rem;
        line-height: 1.5rem;
        text-transform: uppercase;
        letter-spacing: .04em;
    }

    @media only screen and (min-width: 768px) {
        .car-finder .main-categories_toggle {
                flex-wrap: wrap;
        }

        .main-categories_toggle-btn {
            min-width: 10.3125rem;
        }
    

        .main-categories_toggle label {
            height: 3.125rem;
            text-align: left;
            padding: 0 0.9375rem;
            display: flex;
            align-items: center;
            font-weight: 400;
            font-size: 0.875rem;
            cursor: pointer;
            transition: all .5s;
            transition-property: background-color;
        }

        .main-categories_toggle span {
            display: inline-block;
            margin-left: 15px;
            line-height: 3.125rem;
        }

        .car-finder_content {
            padding: 48px 30px 30px 30px;
        }

        .car-finder_title {
            padding: 0 0 5px 0;
        }

        .car-finder_heading {
            margin-left: -20px;
        }

        .three-colums .grid-item {
            width: 33.33333%;
        }

        .car-finder-hero .car-finder {
            margin-left: -10px;
            margin-right: -10px;
        }

        .two-columns .grid-item .two-columns.from-desktop .grid-item {
            width: 100%;
        }
    }

        @media only screen and (max-width : 768px) {
            .main-categories_toggle-btn {
                width: 100%;
            }

            .row {
                margin-bottom: -45%;
            }

            .car-finder .main-categories_toggle {
                flex-wrap: nowrap;
            }
            .container {
                width : 850px;
            }

            .booking-form {
                height: 88vh;
                margin-top: 45%;
            }

            .booking-form .col-md-8 {
                width: 100%;
            }

            .booking-form .col-md-2 {
                width: 100%;
            }
            .booking-form .col-md-4 {
                width: 100%;
            }

            .heading-2 {
                margin-top: 50%;
            }

            .grid {
                width: 105%;
            }
        }
        
       
       /*Booking Form Toggle Buttons Part End*/    

       /*Products Section Start*/

       .highlight-product-text {
            color: #c80000;
            font-weight: 400;
       }

       .highlight-product-text:hover {
            font-weight: 700;
            cursor: pointer;
       }

       .alert-product-text {
            color: #c80000;
            font-weight: 400;
       }

       .alert-product-text:hover {
            font-weight: 700;
            cursor: pointer;
       }

       .alert-pocproducten-text {
            color: #58a3db;
            font-weight: 400;
       }

       .alert-pocproducten-text:hover {
            font-weight: 700;
            color: #d4002a;
            cursor: pointer;
       }

        .block-title {
            margin-bottom: 3.125rem;
        }

        .text-center {
            text-align: center;
        }

        .heading-2 {
            margin-top: 20px;
            font-size: 1.5rem;
            line-height: 1.75rem;
            font-weight: 700;
            color: #000;
            letter-spacing: -0.02em;
        }

        .grid {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -15px;
        }

        .grid-item {
            width: 33%;
            padding-left: 15px;
            padding-right: 15px;
            position: relative;
        }


        .vehicle-overview-block .grid-item {
            margin-bottom: 30px;
        }

        .link-car{
            text-decoration: none;
            color: inherit;
        }

        .card {
            background-color: #fff;
            box-shadow: 0 1px 5px rgba(0, 0, 0, .25);
            transition: ease-in-out .3s;
            border-radius: 2px;
        }

        .vehicle-overview-block_card:hover {
            box-shadow: 0 10px 20px rgba(0, 0, 0, .15);
        }

        .vehicle-overview-block_card {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            padding: 15px 10px 10px;
        }

        .vehicle-header {
            position: relative;
            color: #58a3db;
            margin-bottom: 15px;
            width: 100%;
        }

        .vehicle-header_title {
            font-size: 0.875rem;
            font-size: 600;
            text-transform: uppercase;
            letter-spacing: .04em;
            line-height: 1.5rem;
            margin-bottom: 0.25rem;
        }

        .vehicle-header_title span {
            font-weight: 400;
        }

        .vehicle-header_subtitle {
            font-size: 0.875rem;
            color: #65615d;
        }

        .vehicle-image {
            position: relative;
            height: 0;
            padding-bottom: 50%;
        }

        .vehicle-image img {
            position: absolute;
            width: 100%;
        }

        .lazy-img {
            transition: opacity .4s;
            opacity: 0;
        }

        img {
            max-width: 100%;
            height: auto;
            display: block;
        }

        .vehicle-overview-block_card .vehicle_features {
            margin-top: 20px;
            font-size: 0.8125rem;
            color: #65615d;
        }

        .vehicle_extra {
            color: #65615d;
        }

        .vehicle_feature {
            line-height: 1.1rem;
            margin-bottom: 0.5rem;
        }

        .vehicle-overview-block_card .icon-list {
            display: flex; 
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
        }

        .vehicle_features .icon-list {
            --icon-list-line-height: 1.5rem;
            --icon-list-icon-size: 1.5rem;
            columns: 2;
            margin: 15px -25px;
        }

        .vehicle-overview-block_card .icon-list_item {
            width: 50%;
        }

        .vehicle_features .icon-list_item {
            padding-bottom: 5px;
            color: #000;
        }

        .icon-list_item {
            display: inline-flex;
            align-items: flex-start;
            width: 100%;
            line-height: 1.5rem;
        }

        .icon-list_item-icon {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            width: var(--icon-list-icon-size, calc(var(--icon-list-font-size, 0.8125rem) * 1.5));
            height: var(--icon-list-icon-size, calc(var(--icon-list-font-size, 0.8125rem) * 1.5));
        }

        .icon-list_item-icon svg {
            height: inherit;
            width: inherit;
        }

        svg[class^=icon-], div[class*=" icon-"] {
            width: 100%;
        }

        .icon-list_item-text {
            margin-left: 0.375rem;
            width: 100%;
        }

        .icon-list_item-text .markdown {
            line-height: var(--icon-list-line-height, calc(var(--icon-list-font-size, 0.8125rem) * 1.5));
        }

        .vehicle-overview-block .vehicle_divider {
            display: none;
        }

        .vehicle_divider {
            width: 100%;
            margin: 15px 0;
            border: none;
            border-top: 1px solid #e1ded9;
        }

        .vehicle-overview-block_card .btn {
            width: 100%;
            margin-bottom: 20px;
            border-color: #b2b0ae;
            border-radius: 5rem;
            font-size: 0.75rem;
            color: #000;
            padding: 0.5625rem 1.875rem;
            display: inline-block;
            line-height: 1.25rem;
            text-decoration: none;
            font-weight: 600;
            letter-spacing: .07em;
            text-align: center;
            text-transform: uppercase;
            cursor: pointer;
            transition: ease-in-out .3s;
            transition-property: color, border-color, background-color;
        }

        .vehicle-overview-block_card .btn:hover {
            border-color: #d4002a;
        }

        .content-block_title {
            margin-bottom: 1.875rem;
        }

        .markdown p+* {
            margin-top: 1.875rem;
        }

        .content-block_links {
            margin-top: 2.625rem;
        }

        .btn-large:not(.btn-link) {
            font-size: 0.875rem;
            padding: 0.875rem 1.875rem;
        }

        .content-block_links a {
            margin-top: 1.25rem;
            margin-right: 0.9375rem;
        }

        .btn-secondary {
            color: #58a3db;
            border: 1px solid #58a3db;
            border-radius: 50px;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: 600;
            letter-spacing: .07em;
        }

        .image-block {
            position: relative;
            background-color: #d4002a;
        }

        .image-block picture {
            display: block;
            width: 100%;
            height: 0;
            padding-bottom: 50%;
            position: relative;
        }

        .image-block img {
            position: absolute;
            object-fit: cover;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }


        .content-block_links a:hover {
            color: #fff;
            transition: ease-in-out .3s;
            background-color: #090a0b;
        }
        .btn-secondary {
            position: relative;
            z-index: 0;
        }

       /*Products Section End*/

       /* User Homepage Part Start*/

       .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        color: #f9f9f9;
        min-width: 170px;
        margin-left: -20px;
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
        padding: 8px 12px;
        z-index: 1; 
    }

    .dropdown-content a {
        text-align: center;
        align-items: center;
        color: #fff;
        padding: 10px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {
        background-color: #000;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .user-info {
        text-align: center;
        align-items: center;
    }

    .copyright-text {
        font-size: 15px;
        padding-bottom: 10px;
    }

    /*User Homepage Part End*/

       /*Call to Action Start*/

       .cta {
        margin: 100px auto;
        width: 80%;
        height: 500px;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url(images/car-back.png);
        background-size: cover;
        background-position: center;
        border-radius: 10px;
        text-align: center;
        padding: 100px 0;
    }
    
    .cta h1 {
        font-size: 50px;
        font-weight: 800;
        margin: 30px 0px;
        line-height: 1.1;
        text-transform: uppercase;
        color: #fff;
    }
    .cta h4{
        margin: 40px 0px;
        color: #fff;
    }

    @media(max-width: 767px){
        .cta h1{
            font-size: 26px;
        }
    }
    .hero_btn-contact{
        font-weight: 600;
        position: relative;
        display: inline-block;
        color: #fff;
        border: 1px solid #fff3f3;
        border-radius: 5px;
        padding: 12px 34px;
        font-size: 18px;
        background: transparent;
        cursor: pointer;
        text-decoration: none;
    }
    .hero_btn-contact:hover{
        border: 1px solid #d4002a;
        background: #d4002a;
        transition: 0.8s;
    }


    /*Call to Action End*/

    /*Footer Section Start*/

    footer{
        display: block;
    }

    .footer-page {
        padding: 5rem 0;
        background-color: #000;
        color: #777;
    }

    .container {
        @media (min-width: 768px)
        {
            max-width: 720px;
        }
    }

    .container{
        width: 2000px;
    }

    .mb-6{
        margin-bottom: 3rem! important;
    }
    
    .row{
        display: flex;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
    }
    .footer-page .footer-site-logo{
        margin-left: 5%;
        text-decoration: none;
        color: #fff3f3;
        font-size: 26px;
        font-weight: bold;
        margin-bottom: 30px;
        display: block;
    }

    h5{
        margin: 10px;
        font-size: 1.1rem;
    }
    
    h6{
        border-radius: 10px;
    }

    

    .text-white{
        padding-top: 10px;
        align-self: auto;
        text-decoration: none;
        font-weight: 500;
    }

    .d-flex{
        margin: 10px;
    }

    .fa-facebook-f:hover {
        transition: all ease-in .2s;
        color: #58a3db;
    }

    .fa-twitter:hover {
        transition: all ease-in .2s;
        color: #58a3db;
    }

    .fa-instagram:hover {
        transition: all ease-in .2s;
        color: #58a3db;
    }

    .fa-linkedin:hover {
        transition: all ease-in .2s;
        color: #58a3db;
    }

    .copyright-text {
        transition: all ease-in .2s;
        text-align: center;
    }


    /*Footer Section End*/