@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
       margin: 0;
       padding: 0;
       box-sizing: border-box;
       font-family: 'Poppins', sans-serif;
}

*,
*::before,
*::after {
       box-sizing: border-box;
}

body {
       background-color: #4c96d7;
       text-align: center;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd,
fieldset,
legend {
       margin: 0;
       border: 0;
}

h1 {
       margin-left: 20px;
}

nav {
       display: flex;
       padding: 2% 6%;
       align-items: center;
       text-align: center;
       justify-content: space-between;
}

nav .logo {

       margin-bottom: 20px;
       text-decoration: none;
       font-size: 20px;
       color: #fff3f3;
       font-weight: bold;
}

nav .fa-solid {
       padding: 10px;
       font-size: 30px;
       color: #58A3DB;
}

.nav-links {
       flex: 1;
       text-align: right;
}

.nav-links ul li {
       display: inline-block;
       list-style: none;
       padding: 12px 12px;
       position: relative;
       text-transform: uppercase;
}

.nav-links ul li a {
       text-decoration: none;
       color: #ffff;
       font-size: 18px;
}

.nav-links ul li::after {
       content: '';
       width: 0%;
       height: 2px;
       background: #4C96D7;
       display: block;
       margin: auto;
       transition: 0.25s;
}

.nav-links ul li:hover::after {
       width: 100%;
}

nav .fa {
       display: none;
}

/* Responsive Navbar Section Start */

@media(max-width: 900px) {
       .text_box h2 {
              font-size: 50px;
       }

       .text_box #headtext {
              font-size: 23px;
       }

       .text_box p {
              margin: 10px 40px;
              font-size: 20px;
       }

       .nav-links ul li {
              margin: 10px;
              display: block;
       }

       .nav-links {
              position: fixed;
              background: #47b19efa;
              height: 100vh;
              width: 200px;
              top: 0;
              right: -200px;
              text-align: left;
              z-index: 2;
              transition: 1.2s;
       }

       nav .fa {
              display: block;
              color: #ffff;
              margin: 10px;
              font-size: 22px;
              cursor: pointer;
       }

       .nav-links ul {
              padding: 30px;
       }
}

@media(max-width : 450px) {
       nav .fa-solid {
              padding: 10px;
              font-size: 30px;
              color: #58A3DB;
       }
}

/* Responsive Navbar End */

    /* Notification Part Start */

    /* Notification button styles */

    .notify-icon-button {
       background-color: #555;
       color: white;
       text-decoration: none;
       padding: 10px 22px;
       position: relative;
       display: inline-block;
       border-radius: 2px;
   }
   
   .notify-icon-button:hover {
       background: #777;
   }
   
   .notify-icon-button .notify-icon_badge {
       position: absolute;
       top: -10px;
       right: -10px;
       padding: 3px 10px;
       border-radius: 50%;
       background-color: red;
       color: white;
   }

   /* Notification Part End */

/*About Section Start*/
.sub-header {
       height: 50vh;
       width: 100%;
       background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
              url(images/car-ban.png);
       background-position: center;
       background-size: cover;
       text-align: center;
       color: #fff;
}

.sub-header h1 {
       margin-top: 80px;
}

/*About Section End*/

/*Section one-third-columm Section Start*/

.car-finder-results-page {
       min-height: 100vh;
}

.car-finder-results {
       position: relative;
}

.grid.justify-content-center {
       justify-content: center;
}

.site-content-wrap {
       max-width: 76.25rem;
       padding: 0 20px;
       margin: 0 auto;
}

.grid {

       display: flex;
       flex-wrap: wrap;
       margin: 0 -15px;
}

.grid-item {
       width: 100%;
       padding-left: 15px;
       padding-right: 15px;
       position: relative;
}

.grid.without-gutter {
       margin: 0;
}

.grid.without-gutter .grid-item {
       padding-left: 0;
       padding-right: 0;
}

.grid.justify-content-center {
       justify-content: center;
}

.grid.justify-content-end {
       justify-content: flex-end;
}

.grid.justify-content-around {
       justify-content: space-around;
}

.grid.align-items-end {
       align-items: flex-end;
}



.vehicle-filters {
       padding-top: 1.25rem;
}

.vehicle-filters_modal-btn {
       border: 1px solid #b2b0ae;
}

.vehicle-filters_modal-btn,
.vehicle-filters_modal-header {
       color: #000;
       font-size: 0.75rem;
       font-weight: 700;
       line-height: 2.5rem;
       position: relative;
       width: 100%;
       border-radius: 25px;
       text-transform: uppercase;
}

.vehicle-filters_modal-btn .icon-filter,
.vehicle-filters_modal-header .icon-filter {
       position: absolute;
       top: 50%;
       transform: translateY(-50%);
       width: 1.5rem;
       height: 1.5rem;
       left: 10px;
}

.vehicle-filters_active-filter-count {
       display: inline-block;
       width: 1.875rem;
       height: 1.875rem;
       font-size: 0.875rem;
       font-weight: 600;
       line-height: 30px;
       text-align: center;
       color: #fff;
       background-color: #008334;
       margin-left: 0.9375rem;
       border-radius: 1.875rem;
}

.vehicle-filters_modal-header {
       display: none;
       border-bottom: 1px solid #000;
       text-align: center;
}

.vehicle-filters_close-btn {
       display: none;
       position: absolute;
       top: 0;
       right: 0;
       width: 3.125rem;
       height: 100%;
}

button {
       background: transparent;
       border: none;
       padding: 0;
       margin: 0;
       color: #000;
}

.vehicle-filters_modal-btn .icon-close,
.vehicle-filters_modal-header .icon-close {
       vertical-align: middle;
       height: 0.75rem;
       width: 0.75rem;
}

.vehicle-filters_groups {
       padding-bottom: 3.125rem;
}

.vehicle-filters_group {
       border-bottom: 1px solid #e1ded9;
       padding-top: 1.5625rem;
       padding-bottom: 0.625rem;
}

.vehicle-filters legend {
       font-weight: 700;
       font-size: 0.875rem;
}

.vehicle-filters_checkboxes {
       margin-top: 0.625rem;
}

.checkbox-base {
       position: relative;
}

.checkbox-base input[type=checkbox] {
       position: absolute;
       left: -10000em;
}

.checkbox-filter :checked+label::before {
       background: #65615d;
}

.checkbox-filter label {
       line-height: 1rem;
       min-height: 2.25rem;
       padding: 0.625rem 0 0.625rem 1.3125rem;
}

.checkbox-base label {
       cursor: pointer;
       display: flex;
       align-items: center;
       font-size: 0.875rem;
}

.checkbox-filter label::before {
       width: 0.75rem;
       height: 0.75rem;
       left: 0rem;
}

.checkbox-base label::before {
       content: "";
       position: absolute;
       top: 50%;
       margin: 0;
       transform: translateY(-50%);
       border: #65615d solid 1px;
       border-radius: 1px;
}

.checkbox-filter label>svg {
       width: 1rem;
       height: 1rem;
       left: -0.05rem;
}

.checkbox-base label>svg {
       position: absolute;
       top: 50%;
       transform: translateY(-50%);
       display: none;
}

.checkbox-base :checked+label>svg {
       display: block;
       color: #fff;
}

.vehicle-filters_active-filters-heading .vehicle-filters_reset-btn {
       padding-top: 1.25rem;
}

.vehicle-filters_reset-btn {
       border-bottom: #d4002a solid 1px;
       transition: color ease-in-out .3s;
       color: #000;
       font-size: 0.875rem;
       line-height: 1.5rem;
       height: auto;
       display: none;
}



@media only screen and (min-width : 978px) {

       .two-columns .one-third-column,
       .three-columns .grid-item {
              width: 33.333333%;
       }

       .two-columns .grid-item,
       .two-columns.from-desktop .grid-item {
              width: 50%;
       }

       .car-finder-results .vehicle-filters {
              max-width: 19.375rem;
       }

       .vehicle-filters {
              padding-top: 0.625rem;
       }

       .vehicle-filters_modal-btn {
              display: none;
       }

       .vehicle-filters_active-filters-heading {
              justify-content: space-between;
              padding-top: 22px;
              padding-bottom: 1.5625rem;
              border-bottom: 1px solid rgba(0, 3, 51, .2);
              margin: 0;
       }

       .vehicle-filters_active-filters-heading {
              display: flex;
              align-items: center;
       }

       .vehicle-filters_active-filters-heading h2 {
              display: block;
              position: relative;
              font-size: 0.875rem;
              line-height: 1.5rem;
       }

       .vehicle-filters_active-filters-heading .vehicle-filters_reset-btn {
              padding-top: 0;
       }

}

@media only screen and (min-width : 768px) {

       .two-columns .one-third-column,
       .two-columns .two-thirds-column,
       .two-columns.from-desktop .grid-item {
              width: 100%;
       }

       .two-columns .grid-item,
       .three-columns .grid-item,
       .four-columns .grid-item {
              width: 50%;
       }
}

/*Section one-third-columm Section End*/


/*Result Products List two-third column Section Start*/

.car-finder-results_results>:first-child {
       margin-top: 25px;
}

.car-finder-results_summary {
       padding-bottom: 10px;
}

.car-finder-results_title {
       font-size: 0.875rem;
       line-height: 1.5rem;
       margin-bottom: 5px;
}

.car-finder-results_subtitle {
       font-size: 0.875rem;
       line-height: 1.25rem;
       color: #65615d;
}

.car-finder-results_subtitle span {
       display: block;
}

ul[class] {
       list-style: none;
}

.vehicle-result-list_list {
       padding-bottom: 2.5rem;
       margin-top: -15px;
}

.vehicle-result-list .vehicle-result-list_item {
       list-style: none;
       margin-top: 30px;
}

.card {
       background-color: #fff;
       box-shadow: 0 1px 5px rgba(0, 0, 0, .25);
       transition: ease-in-out .3s;
       border-radius: 2px;
}

.vehicle_card {
       padding: 0.9375rem 0.9375rem 0;
       font-size: 0.8125rem;
       position: relative;
}

.vehicle_card>.grid {
       padding-bottom: 15px;
}

.vehicle-header {
       position: relative;
       color: #d4002a;
       margin-bottom: 15px;
       width: 100%;
}

.vehicle-header_title {
       font-size: 0.875rem;
       font-size: 600;
       text-transform: uppercase;
       letter-spacing: .04em;
       line-height: 1.5rem;
       margin-bottom: 0.25rem;
}

.vehicle-header_subtitle {
       font-size: 0.875rem;
       color: #65615d;
}

.vehicle-header_title span {
       font-weight: 400;
}

.vehicle-image {
       position: relative;
       height: 0;
       padding-bottom: 50%;
}

.lazy-img.loaded {
       opacity: 1;
}

.vehicle-image img {
       position: absolute;
       width: 100%;
       /* aspect-ratio: 2/1; */
}

.lazy-img {
       transition: opacity .4s;
       opacity: 0;
}

img {
       max-width: 100%;
       height: auto;
       display: block;
}

.vehicle_image-actions {
       padding-top: 0.625rem;
}

.vehicle_card-features {
       margin-top: 1.875rem;
}

.vehicle_feature {
       line-height: 1.1rem;
       margin-bottom: 0.5rem;
}

.vehicle_extra {
       color: #65615d;
}

.vehicle_features .icon-list {
       --icon-list-line-height: 1.5rem;
       --icon-list-icon-size: 1.5rem;
       columns: 2;
       margin: 15px -30px;
}

.vehicle_features .icon-list_item {
       padding-bottom: 5px;
       color: #000;
}

.icon-list_item {
       display: inline-flex;
       align-items: flex-start;
       width: 100%;
       line-height: 1.5rem;
}

.icon-list_item-icon {
       display: flex;
       align-items: center;
       flex-shrink: 0;
       width: var(--icon-list-icon-size, calc(var(--icon-list-font-size, 0.8125rem) * 1.5));
       height: var(--icon-list-icon-size, calc(var(--icon-list-font-size, 0.8125rem) * 1.5));
}

.icon-list_item-icon svg {
       height: inherit;
       width: inherit;
}

svg[class^=icon-],
div[class*=" icon-"] {
       width: 100%;
}

.icon-list_item-text {
       margin-left: 0.375rem;
       width: 100%;
}

.icon-list_item-text .markdown {
       line-height: var(--icon-list-line-height, calc(var(--icon-list-font-size, 0.8125rem) * 1.5));
}

.vehicle_divider {
       width: 100%;
       margin: 15px 0;
       border: none;
       border-top: 1px solid #e1ded9;
}

.vehicle_pricing-row {
       display: flex;
       align-items: baseline;
       margin-bottom: 0.9375rem;
}

.vehicle_pricing-day {
       font-size: 0.875rem;
}

.vehicle_pricing-total {
       margin-left: auto;
       text-align: right;
       font-size: 0.875rem;
}

.vehicle_pricing-total strong {
       margin-right: 0.5rem;
       font-size: 1.375rem;
       line-height: 1.75rem;
}

.vehicle .notice {
       margin: 10px 0;
}

.notice {
       margin: 15px 0;
       padding: 10px;
       border-radius: 2px;
       font-size: 0.8125rem;
       line-height: 1.1875rem;
}

.notice_info {
       background: #f6f5f4;
       border: 1px solid #e1ded9;
       box-shadow: none;
       color: #000;
       font-weight: 400;
}

.notice .markdown {
       display: inline;
       line-height: inherit;
}

.markdown {
       display: inline;
       line-height: 1.5rem;
}

.extra-info {
       display: inline;
}


.vehicle .vehicle_cta {
       padding: 0.5625rem 1.875rem;
       display: inline-block;
       font-size: 0.75rem;
       line-height: 1.25rem;
       text-decoration: none;
       font-weight: 600;
       letter-spacing: .07em;
       text-align: center;
       text-transform: uppercase;
       border-radius: 5rem;
       cursor: pointer;
       transition: ease-in-out .3s;
       transition-property: color, border-color, background-color;
       border: 1px solid transparent;
       border-radius: 5rem;
       width: 100%;
}


.vehicle .vehicle_cta {
       width: 100%;
}


.btn-primary {
       color: #fff;
}

.btn-inverted,
.btn-secondary,
.btn-primary {
       position: relative;
       z-index: 0;
}

.btn-primary:not(.btn-primary_disabled):before {
       background: linear-gradient(360deg, #af0123 0%, #d4002a 100%);
}

.btn-primary:not(.btn-primary_disabled):after {
       opacity: 0;
       background: linear-gradient(360deg, #c20127 0%, #8b001b 100%);
}

.btn-inverted:before,
.btn-secondary:before,
.btn-primary:not(.btn-primary_disabled):before,
.btn-primary:not(.btn-primary_disabled):after {
       content: "";
       position: absolute;
       top: -1px;
       bottom: -1px;
       right: -1px;
       left: -1px;
       border: none;
       border-radius: inherit;
       z-index: -1;
       transition: opacity ease-in-out .3s;
}

.btn-transparent {
       padding-left: 0.625rem;
       padding-right: 0.625rem;
       color: #000;
}

.btn-transparent span {
       padding: 0.5625rem 1.875rem;
       display: inline-block;
       font-size: 0.75rem;
       line-height: 1.25rem;
       text-decoration: none;
       font-weight: 600;
       letter-spacing: .07em;
       text-align: center;
       text-transform: uppercase;
       border-radius: 5rem;
       cursor: pointer;
       transition: ease-in-out .3s;
       transition-property: color, border-color, background-color;
       border: 1px solid transparent;
}

.vehicle_card-expander-btn svg {
       margin: -36px;
       transition: transform .3s cubic-bezier(0.5, 1, 0.89, 1);
       transform: rotateZ(90deg);
}

.btn-icon>svg {
       margin-right: 18px;
       display: inline;
       width: 1.125rem;
       height: 1.125rem;
}

.btn-transparent:hover:not([disabled]) {
       border-color: transparent;
       color: #d4002a;
}

.btn-transparent,
.btn-inverted,
.btn-tertiary,
.btn-secondary,
.btn-primary {
       padding: 0.5625rem 1.875rem;
       display: inline-block;
       font-size: 0.75rem;
       line-height: 1.25rem;
       text-decoration: none;
       font-weight: 600;
       letter-spacing: .07em;
       text-align: center;
       text-transform: uppercase;
       border-radius: 5rem;
       cursor: pointer;
       transition: ease-in-out .3s;
       transition-property: color, border-color, background-color;
       border: 1px solid transparent;
}

div .alert_success {
       height: 50px;
       border-color: #95cc95;
       background: #f4faf4;
       color: #008334;
       display: none;
}

.alert {
       border-radius: 2px;
       border: 1px solid;
       font-size: 0.8125rem;
       line-height: 1.125rem;
       font-weight: 700;
       padding: 11px 11px 11px 2.5rem;
       position: relative;
}

.alert .icon-checkmark {
       top: 9px;
       left: 0.2rem;
       width: 1.875rem;
       height: 1.875rem;
}

.alert svg {
       position: absolute;
       top: 8px;
       left: 0.5rem;
       width: 1.5rem;
       height: 1.5rem;
}

.checkmark-text {
       display: none;
       margin-left: 15px;
}

@media only screen and (min-width : 978px) {
       .car-finder-results_results>:first-child {
              margin-top: 35px;
       }
}



@media only screen and (min-width: 978px) {

       .two-columns .grid-item,
       .two-columns.from-desktop .grid-item {
              width: 50%;
       }

       .two-columns .one-third-column,
       .three-columns .grid-item {
              width: 33.333333%;
       }

       .two-columns .two-thirds-column {
              width: 66.666666%;
       }

       .car-finder-results_results>:first-child {
              margin-top: 35px;
       }
}

/*Result Products List two-third column Section End*/

.dropdown {
       position: relative;
       display: inline-block;
}

.dropdown-content {
       display: none;
       position: absolute;
       color: #f9f9f9;
       min-width: 170px;
       margin-left: -20px;
       box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
       padding: 8px 12px;
       z-index: 1;
}

.dropdown-content a {
       text-align: center;
       align-items: center;
       color: #fff;
       padding: 10px 16px;
       text-decoration: none;
       display: block;
}

.dropdown-content a:hover {
       background-color: #000;
}

.dropdown:hover .dropdown-content {
       display: block;
}

.user-info {
       text-align: center;
       align-items: center;
}

.copyright-text {
       font-size: 15px;
       padding-bottom: 10px;
}

/*User Homepage Part End*/


/*Call to Action Start*/

.cta {
       margin: 100px auto;
       width: 80%;
       height: 500px;
       background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url(images/car-back.png);
       background-size: cover;
       background-position: center;
       border-radius: 10px;
       text-align: center;
       padding: 100px 0;
}

.cta h1 {
       font-size: 50px;
       font-weight: 800;
       margin: 30px 0px;
       line-height: 1.1;
       text-transform: uppercase;
       color: #fff;
}

.cta h4 {
       margin: 40px 0px;
       color: #fff;
}

@media(max-width: 767px) {
       .cta h1 {
              font-size: 26px;
       }
}

.hero_btn-contact {
       font-weight: 600;
       position: relative;
       display: inline-block;
       color: #fff;
       border: 1px solid #fff3f3;
       border-radius: 5px;
       padding: 12px 34px;
       font-size: 18px;
       background: transparent;
       cursor: pointer;
       text-decoration: none;
}

.hero_btn-contact:hover {
       border: 1px solid #d4002a;
       background: #d4002a;
       transition: 0.8s;
}


/*Call to Action End*/

/*Footer Section Start*/

footer {
       display: block;
}

.footer-page {
       padding: 5rem 0;
       background-color: #000;
       color: #777;
}

.container {
       @media (min-width: 768px) {
              max-width: 720px;
       }
}

.container {
       width: 2000px;
}

.mb-6 {
       margin-bottom: 3rem ! important;
}

.row {
       display: flex;
       flex-wrap: wrap;
       margin-right: -15px;
       margin-left: -15px;
}

.footer-page .footer-site-logo {
       margin-left: 5%;
       text-decoration: none;
       color: #fff3f3;
       font-size: 26px;
       font-weight: bold;
       margin-bottom: 30px;
       display: block;
}

h5 {
       font-size: 0.875rem;
}

h6 {
       border-radius: 10px;
}



.text-white {
       padding-top: 10px;
       align-self: auto;
       text-decoration: none;
       font-weight: 500;
}

.d-flex {
       margin: 10px;
}

.fa-facebook-f:hover {
       transition: all ease-in .2s;
       color: #58a3db;
}

.fa-twitter:hover {
       transition: all ease-in .2s;
       color: #58a3db;
}

.fa-instagram:hover {
       transition: all ease-in .2s;
       color: #58a3db;
}

.fa-linkedin:hover {
       transition: all ease-in .2s;
       color: #58a3db;
}

.copyright-text {
       font-size: 15px;
       text-align: center;
}


/*Footer Section End*/