    @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

    *{
       margin: 0;
       padding: 0;
       box-sizing: border-box;
       font-family: 'Poppins', sans-serif;
    }

    body {
       background-color: #4C96D7;
       text-align: center;
    }
 
   h1{
       margin-left: 20px;
   }

   .header {
       margin-bottom: 10px;
       min-height: 100vh;
       width: 100%;
       background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), 
       url(images/car-background3.jpg);
       background-position: center;
       background-size: cover;
       position: relative;
   }
   nav {
        display: flex;
        padding: 2% 6%;
        align-items: center;
        text-align: center;
        justify-content: space-between;
   }

   nav .logo {
    
        margin-bottom: 20px;
        text-decoration: none;
        font-size: 20px;
        color: #fff3f3;
        font-weight: bold;
   }

   nav .fa-solid { 
        padding: 10px;
        font-size: 30px;
        color: #58A3DB;
    }
   
   .nav-links{
        flex: 1;
        text-align: right;
   }

   .nav-links ul li{
        display: inline-block;
        list-style: none;
        padding: 12px 12px;
        position: relative;
        text-transform: uppercase;
   }

   .nav-links ul li a{
        text-decoration: none;
        color: #ffff;
        font-size: 18px;
   }

   .nav-links ul li::after{
        content: '';
        width: 0%;
        height: 2px;
        background: #4C96D7;
        display: block;
        margin: auto;
        transition: 0.25s;
       }

       .nav-links ul li:hover::after{
            width: 100%;
       }

       .text_box{
            width: 90%;
            color: #ffff;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
        }

        .text_box h2{
            font-size: 90px;
            font-weight: 900;
            color: #5be1d1;
        }
        
        .text_box #headtext{
            font-size: 42px;
            font-weight: 900;
            text-transform: uppercase;
            margin-top: -1%;
            margin-bottom: 1%;
            color: #c8fff2;
        }

        .text_box p{
            margin: 10px 0 40px;
            font-size: 18px;
            color: #ffff;
        }

        .text_box .text{
            font-size: 20px;
            font-weight: 500;
        }

        .hero_btn {
            position: relative;
            display: inline-block;
            color: #fff;
            border: 1px solid #fff;
            border-radius: 5px;
            padding: 12px 34px;
            font-size: 18px;
            background: transparent;
            cursor: pointer;
            text-decoration: none;
        }
        
        .hero_btn:hover {
            border: 1px solid #24f8c7;
            background: #24f8c7;
            transition: 1s;
        }

        
        /*#myVideo {
            position: fixed;
            right: -1;
            bottom: -1;
            width: 2000px;
            height: 950px;
        }
        */
        
        .content {
            position: fixed;
            bottom: 0;
            background: rgba(0, 0, 0, 0.5);
            color: #f1f1f1;
            width: 100%;
            padding: 20px;
        }

        nav .fa {
            display: none;
        }
        
        /* Responsive Navbar Section Start */
        
        @media(max-width: 900px) {
            .text_box h2 {
                font-size: 50px;
            }
            .text_box #headtext {
                font-size: 23px;
            }
            .text_box p {
                margin: 10px 40px;
                font-size: 20px;
            }
            .nav-links ul li {
                margin: 10px;
                display: block;
            }
            .nav-links {
                position: fixed;
                background: #47b19efa;
                height: 100vh;
                width: 200px;
                top: 0;
                right: -200px;
                text-align: left;
                z-index: 2;
                transition: 1.2s;
            }
            nav .fa {
                display: block;
                color: #ffff;
                margin: 10px;
                font-size: 22px;
                cursor: pointer;
            }
            .nav-links ul {
                padding: 30px;
            }
        }

        @media(max-width : 450px) {
            nav .fa-solid{
                padding: 10px;
                font-size: 30px;
                color: #58A3DB;
           }
        }
        /* Responsive Navbar End */

        /* Course Section Start*/
        .course {
            width: 80%;
            margin: auto;
            text-align: center;
            padding-top: 100px;
        }
        
        .PageBlock {
            position: relative;
            margin: 0px !important;
            padding: 0px;
        }
        
        .verticalLine {
            widtH: 5px;
            height: 100px;
            background: #24f8c7;
            margin: 0 auto 40px;
        }
        
        .Clear {
            clear: both;
        }
        
        p {
            color: #777;
            font-size: 18px;
            font-weight: 300;
            line-height: 22px;
            padding: 10px;
        }

        .row {
            margin-top: 5%;
            display: flex;
            justify-content: space-between;
        }
        
        .course-col {
            flex-basis: 31%;
            background: #fff3f3;
            border-radius: 10px;
            margin-bottom: 5%;
            padding: 20px 12px;
            box-sizing: border-box;
            transition: 0.2s;
        }
        
        .course-col h3 {
            text-align: center;
            font-weight: 600;
            margin: 10px 0;
            line-height: 1.1;
        }
        
        .course-col:hover {
            box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
        }

        @media(max-width: 700px){
            .verticalLine{
                width: 1px;
            }
            h1{
                font-size: 24px;
                line-height: unset;
            }
            .row{
                flex-direction: column;
            }
        }

        div .icon-1{
            margin-top: 40px;
            width: 110px;
            height: 115px;
            margin-bottom: 15px;
        }
        div .icon-2{
            width: 120px;
            height: 125px;
            margin-bottom: 30px;
        }
        div .icon-3{
            width: 160px;
            height: 195px;
            padding-bottom: 10%;
            margin-bottom: -39px;
        }
        div .hero_btn-2{
            font-weight: 600;
            position: relative;
            display: inline-block;
            color: #000;
            border: 1px solid #000;
            border-radius: 5px;
            padding: 12px 34px;
            font-size: 18px;
            background: transparent;
            cursor: pointer;
            text-decoration: none;
        }

        div .hero_btn-2:hover {
            border: 1px solid #24f8c7;
            background: #24f8c7;
            transition: 0.8s;
        }
        div .hero_btn-3{
            font-weight: 600;
            position: relative;
            display: inline-block;
            color: #000;
            border: 1px solid #000;
            border-radius: 5px;
            padding: 12px 34px;
            font-size: 18px;
            background: transparent;
            cursor: pointer;
            text-decoration: none;
        }

        div .hero_btn-3:hover {
            border: 1px solid #58A3DB;
            background: #58A3DB;
            transition: 0.8s;
        }
        div .hero_btn-4{
            font-weight: 600;
            position: relative;
            display: inline-block;
            color: #000;
            border: 1px solid #000;
            border-radius: 5px;
            padding: 12px 34px;
            font-size: 18px;
            background: transparent;
            cursor: pointer;
            text-decoration: none;
        }

        div .hero_btn-4:hover {
            border: 1px solid #A11D1F;
            background: #A11D1F;
            transition: 0.8s;
        }
        /* Course Section End*/

        /* Course Campus Start*/

        .campus {
            width: 80%;
            margin: auto;
            text-align: center;
            padding-top: 50px;
        }
        
        .campus-col {
            position: relative;
            flex-basis: 32%;
            border-radius: 10px;
            margin-bottom: 30px;
            overflow: hidden;
        }
        
        .campus-col img {
            width: 100%;
            display: block;
        }
        
        .layer-1 {
            background: transparent;
            width: 100%;
            height: 67%;
            position: absolute;
            top: 0;
            left: 0;
            transition: 0.5s;
        }
        
        .layer-1:hover {
            /* background: rgba(226, 0, 0, 0.7); */
            background: #24f8c741;
        }
        
        .layer-1 h3 {
            position: absolute;
            width: 100%;
            font-weight: 500;
            color: #fff;
            font-size: 26px;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            opacity: 0;
            transition: 0.5s;
        }
        
        .layer-1:hover h3 {
            bottom: 49%;
            opacity: 1;
        }

        .layer-2 {
            background: transparent;
            width: 100%;
            height: 67%;
            position: absolute;
            top: 0;
            left: 0;
            transition: 0.5s;
        }
        
        .layer-2:hover {
            /* background: rgba(226, 0, 0, 0.7); */
            background: #24f8c741;
        }
        
        .layer-2 h3 {
            position: absolute;
            width: 100%;
            font-weight: 500;
            color: #fff;
            font-size: 26px;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            opacity: 0;
            transition: 0.5s;
        }
        
        .layer-2:hover h3 {
            bottom: 45%;
            opacity: 1;
        }

        .layer-3 {
            background: transparent;
            width: 100%;
            height: 68%;
            position: absolute;
            top: 0;
            left: 0;
            transition: 0.5s;
        }
        
        .layer-3:hover {
            /* background: rgba(226, 0, 0, 0.7); */
            background: #24f8c741;
        }
        
        .layer-3 h3 {
            position: absolute;
            width: 100%;
            font-weight: 500;
            color: #fff;
            font-size: 26px;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            opacity: 0;
            transition: 0.5s;
        }
        
        .layer-3:hover h3 {
            bottom: 49%;
            opacity: 1;
        }

        div .hero_btn-5{
            margin: 30px;
            font-weight: 600;
            position: relative;
            display: inline-block;
            color: #000;
            border: 1px solid #000;
            border-radius: 5px;
            padding: 12px 34px;
            font-size: 18px;
            background: transparent;
            cursor: pointer;
            text-decoration: none;
        }
        div .hero_btn-5:hover {
            border: 1px solid #24f8c7;
            background: #24f8c7;
            transition: 0.8s;
        }

        div .hero_btn-6{
            margin: 30px;
            font-weight: 600;
            position: relative;
            display: inline-block;
            color: #000;
            border: 1px solid #000;
            border-radius: 5px;
            padding: 12px 34px;
            font-size: 18px;
            background: transparent;
            cursor: pointer;
            text-decoration: none;
        }

        div .hero_btn-6:hover {
            border: 1px solid #58A3DB;
            background: #58A3DB;
            transition: 0.8s;
        }

        div .hero_btn-7{
            margin: 25px;
            font-weight: 600;
            position: relative;
            display: inline-block;
            color: #000;
            border: 1px solid #000;
            border-radius: 5px;
            padding: 12px 34px;
            font-size: 18px;
            background: transparent;
            cursor: pointer;
            text-decoration: none;
        }

        div .hero_btn-7:hover {
            border: 1px solid #A11D1F;
            background: #A11D1F;
            transition: 0.8s;
        }
        p{
            font-size: 18px;
            font-weight: 500;
        }

        div .i-2{
            margin-top: -92px;
        }
        div .i-3{
            margin-top: -20px;
        }
        
        @media(max-width: 700px){
            .verticalLine{
                width: 5px;
            }
            h1{
                font-size: 24px;
                line-height: unset;
            }
            .row{
                flex-direction: column;
            }
        }

        /* Course Campus End*/
        
        /*Reviews Section Start*/

        .reviews{
            width: 80%;
            margin: auto;
            padding-top: 100px;
            text-align: center;
        }
        .reviews-col{
            flex-basis: 44%;
            border-radius: 10px;
            text-align: left;
            margin-bottom: 5%;
            background: #fff3f3;
            padding: 20px;
            cursor: pointer;
            display: flex;
        }
        .reviews-col img{
            height: 60px;
            width: 60px;
        }

        .reviews-col:hover {
            box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
        }

        .reviews-col h3{
            margin-left: -2px;
        }
        /*Reviews Section End*/

        /*Call to Action Start*/

        .cta {
            margin: 100px auto;
            width: 80%;
            height: 500px;
            background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url(images/car-back.png);
            background-size: cover;
            background-position: center;
            border-radius: 10px;
            text-align: center;
            padding: 100px 0;
        }
        
        .cta h1 {
            font-size: 50px;
            font-weight: 800;
            margin: 30px 0px;
            line-height: 1.1;
            text-transform: uppercase;
            color: #fff;
        }
        .cta h4{
            margin: 40px 0px;
            color: #fff;
        }

        @media(max-width: 767px){
            .cta h1{
                font-size: 26px;
            }
        }
        .hero_btn-contact{
            font-weight: 600;
            position: relative;
            display: inline-block;
            color: #fff;
            border: 1px solid #fff3f3;
            border-radius: 5px;
            padding: 12px 34px;
            font-size: 18px;
            background: transparent;
            cursor: pointer;
            text-decoration: none;
        }
        .hero_btn-contact:hover{
            border: 1px solid #24f8c7;
            background: #24f8c7;
            transition: 0.8s;
        }



        /*Call to Action End*/

          /*About Section Start*/
          .sub-header {
            height: 50vh;
            width: 100%;
            background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), 
            url(images/car-ban.png);
            background-position: center;
            background-size: cover;
            text-align: center;
            color: #fff;
        }
        
        .sub-header h1 {
            margin-top: 80px;
        }
        
        .about-us {
            text-align: center;
            width: 80%;
            margin: auto;
            padding-top: 80px;
            padding-bottom: 50px;
        }
        
        .about-col {
            flex-basis: 48%;
            padding: 30px 2px;
        }
        
        .about-col img {
            width: 100%;
        }
        
        .about-col h1 {
            padding-top: 0;
        }

        .about-col h3{
            font-size: 46px;
            font-weight: 800;
            margin: 15px 0;
            line-height: 50px;
            text-transform: uppercase;
            color: #24f8c7;
        }
        
        .about-col p {
            padding: 15px 0 25px;
        }
        
        .hero_btn-8{
            font-weight: 600;
            position: relative;
            display: inline-block;
            color: #000;
            border: 1px solid #000;
            border-radius: 5px;
            padding: 12px 34px;
            font-size: 18px;
            background: transparent;
            cursor: pointer;
            text-decoration: none;
        }
        
        div .hero_btn-8:hover {
            border: 1px solid #A11D1F;
            background: #A11D1F;
            transition: 0.8s;
        }
        div .img-2{
            width: 500px;
            height: 300px;
        }
        
        div .icon-4{
            width: 300px;
            height: 200px;
        }

        div .icon-5{
            width: 300px;
            height: 200px;
        }

        div .icon-6{
            width: 300px;
            height: 200px;
        }

        div .icon-7{
            width: 300px;
            height: 150px;
        }

        div .icon-8{
            width: 300px;
            height: 150px;
        }

        div .icon-9{
            width: 300px;
            height: 150px;
        }

        div .icon-10{
            width: 200px;
            height: 200px;
        }
        div .icon-11{
            width: 200px;
            height: 200px;
        }
        div .icon-12{
            width: 200px;
            height: 200px;
        }

        div .lease-car{
            width: 100px;
        }

        div p.lease-text{
            text-align: center;
            font-weight: 700;
        }

        div p.lease-text-area{
            text-align: center;
            font-weight: 600;
        }

        div .pricing-car{
            padding: 20px;
            width: 400px;
            height: 400px;
        }
        /*About Section End*/

        /*Footer Section Start*/

        footer{
            display: block;
        }

        .footer-page{
            padding: 5rem 0;
            background-color: #000;
            color: #777;
        }

        .container{
        @media (min-width: 768px)
        {
        max-width: 720px;
        }
        }

        .container{
            width: 2000px;
        }

        .mb-6{
            margin-bottom: 3rem! important;
        }
        
        .row{
            display: flex;
            flex-wrap: wrap;
            margin-right: -15px;
            margin-left: -15px;
        }
        .footer-page .footer-site-logo{
            margin-left: 5%;
            text-decoration: none;
            color: #fff3f3;
            font-size: 26px;
            font-weight: bold;
            margin-bottom: 30px;
            display: block;
        }

        h5{
            margin: 10px;
        }
        
        h6{
            border-radius: 10px;
            margin: 10px;
        }


        h3{
            margin-left: 5%;
        }

        .text-white{
            padding-top: 10px;
            align-self: auto;
            text-decoration: none;
            font-weight: 500;
        }

        .d-flex{
            margin: 10px;
        }

       

        
        /*Footer Section End*/

        /* User Homepage Start*/

       .dropdown {
        position: relative;
        display: inline-block;
       }

       .dropdown-content {
        display: none;
        position: absolute;
        color: #f9f9f9;
        min-width: 170px;
        margin-left: -20px;
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
        padding: 8px 12px;
        z-index: 1; 
       }

       .dropdown-content a {
        text-align: center;
        align-items: center;
        color: #fff;
        padding: 10px 16px;
        text-decoration: none;
        display: block;
       }

       .dropdown-content a:hover {
        background-color: #000;
       }

       .dropdown:hover .dropdown-content {
        display: block;
       }

       .user-info {
        text-align: center;
        align-items: center;
       }

       

       

        